h1{
    color:rgb(245, 26, 175);
    text-align: center;
    text-transform: uppercase;
    background-color: aqua;
    border-radius: 25px;
}
p{ 
    color:red;
    text-align: center;
    text-transform: uppercase;
    background-color: rgb(255, 159, 237);
    text-decoration: coral;
}

video{
     border-radius: 15px;
     align-items: center;
     justify-content: center;
     
}

body {
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("https://images.alphacoders.com/736/736461.png");
    background-attachment: fixed;
    min-height: 100vh;
    background-size: cover;
    
 }
 
 #center {
    
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    display: block
}